@require 'code-theme.styl'


$themeBgColor = linear-gradient(90deg, #e0c3fc 0%, #8ec5fc 100%);


$txtColor = linear-gradient(90deg, #E557F9 0%, #6f86d6 100%);


$navbarHeight = 3.6rem
$accentColor = #B983FF
$sidebarWidth = 18rem
$homePageWidth = 1200px
$bannerTextColor = #fff // 首页banner区(博客标题)文本颜色

$rightMenuWidth = 230px // 右侧菜单


$contentWidth = 860px
$MQNarrow ?= 959px // narrow desktop / iPad
$MQMobile ?= 719px // wide mobile
$MQMobileNarrow ?= 419px // 小手机

.theme-mode-light
  --bodyBg: #f4f4f4
  --mainBg: rgba(255, 255, 255, 1)
  --sidebarBg: rgba(255, 255, 255, .8)
  --blurBg: rgba(255, 255, 255, .9)
  --customBlockBg: #f1f1f1
  --textColor: #333
  --textLightenColor: #B983C0
  --borderColor: rgba(0, 0, 0, .15)
  --codeBg: #f6f6f6
  --codeColor: #525252
  codeThemeLight()

//
//.page {
//  // 代码块：行号字体
//
//  div[class*="language-"].line-numbers-mode .line-numbers-wrapper {
//    color: #000;
//    width: 2rem;
//  }
//
//  // 代码块：语言(右上角)
//
//  div[class*="language-"]::before {
//    color: #000;
//  }
//
//  // 代码块：背景和边框
//
//  div[class*="language-"].line-numbers-mode::after {
//    background: #f8f8f8;
//    width: 2rem;
//    border-right: 1px solid #ead2d2;
//  }
//
//  div[class*="language-"] {
//    margin-top: 15px;
//    background: #f8f8f8;
//    border: 1px solid rgba(6, 6, 6, .1);
//  }
//
//  // 类型为 bash
//
//  div[class*="language-bash"].line-numbers-mode pre {
//    padding-left: 10px;
//  }
//
//  div[class*="language-"].line-numbers-mode pre {
//    padding-left: 3rem;
//  }
//
//  div[class*="language-bash"].line-numbers-mode::after {
//    width: 0;
//  }
//
//  div[class*="language-bash"].line-numbers-mode .line-numbers-wrapper {
//    color: rgba(0, 0, 0, 0)
//  }
//
//  // 代码括号
//
//  .token.punctuation {
//    color: #807a7a;
//  }
//
//  // 代码注释
//
//  .token.comment {
//    color: #3eaf7c;
//  }
//
//  // 代码变量
//
//  .token.string {
//    color: rgb(201 140 109);
//  }
//}
//
//// 默认主题样式 ----------------------------------------------------------------
//// 代码块：默认字体
//.theme-default-content pre code, .theme-default-content pre[class*="language-"] code {
//  color: #476582
//}
//
//// 代码块：代码行高
//.theme-default-content pre, .theme-default-content pre[class*="language-"] {
//  padding: 0.32rem 1.5rem;
//}
//
//// 默认 a 标签样式
//.theme-default-content:not(.custom) a {
//  color: $mainColor;
//}
